*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Lato;
}
.a{
    width: 100%;
    background: rgba(229, 84, 115, 0.10);
    height: 600px;
    display: flex;
    
}
h1{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-left: 240px;
}
p{
    display: flex;
    width: 634px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 20px;
    margin-left: 240px;
    margin-top:24px ;

}
button{
    color: #FFF;
    font-size: 20px;
    background-color: palevioletred;
    margin-left: 240px;
    margin-top:24px ;
    
}

h2{
    text-align: center;
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    padding: 10px;

}
img{
   width: 400px;
   height: 400px;
}
.b{
    display: flex;
    width: 600px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 20px;
   margin-top: 24px;
}
.c{
    border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
   
}
.Pink{
    margin-left: 378px;
    text-decoration: underline;
    color: #272727;
    font-size: 24px;
   
}
.hot{
    width: 100%;
    height: 620px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
}
.Deal{
    color: #272727;
    font-size: 40px;
    text-align: center;
    padding-top: 250px;
}
.it{
    display: flex;
    text-align: center;
    margin-left: 350px;
}
.sing{
    border-radius: 8px;
    background: #E55473;
   margin-left: 580px;
    padding: 20px 43px;
}
.pn8{
    display: flex;
    width: 318px;
    height: 420px;

}
.instra{
    color: #272727;
    text-align: center;
    font-size: 40px;
}
.des{
    display: flex;
   
    color: rgba(39, 39, 39, 0.60);
    margin-left: 456px;
    font-size: 18px;
    margin-top: 24px; 
}
.fl{
    width: 150px;
    height: 200px;
    text-align: center;
    padding: 20px;
}
.f{
    display: flex;
    margin-top: 24px;
    padding: 24px;
    margin-left: 240px;  
}
.ff{
    width: 80%;
    height: 500px;
    background-image: url('1.png');
    background-repeat: no-repeat;
    margin-left: 80px;
    margin-right: 80px;
    text-align: center;
}
.get{
     padding-top: 150px;
     color: #272727;
     text-align: center;
     font-size: 40px;
     padding-top: 150px;

}
.co{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    margin-left: 150px;

}
.email{
    border-radius: 5px;
    background: #FFF;
    margin-top: 24px;
}
.sub{
    border-radius: 8px;
background: #E55473;
}
.foot{
     width: 100%;
     background-color: black;
     text-align: center;
     height: 600px;
   
}
.fs{
    color: #E55473;
    padding-top: 150px;
    font-size: 48px;

}
.ll{
    margin-left: 250px;
    margin-right: 250px;
}
.copy{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    margin-left: 500px;
    margin-right: 500px;

}
.cou{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    margin-left: 415px;
    margin-right: 150px;

}
.pic{
    display: flex;
}
.p5{
    margin-right: 150px;
}